:root{
    --blue4: #3a86c9;
    --blue3: #70B2E2;
}
body{
    background-color: var(--blue4);
    font-family: Ubuntu;
}
.bar{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
#signal img, #settings img{
    height: 26px;
}
.monitoring{
    color: white;
    font-weight: medium;
    display: flex;
}
.temp, .hum, .co2, .pressure{
    width: 50%;
    display: flex;
}
.units, .name{
    font-size: 26px;
}
.name{
    opacity: 0.8;
}
.units{
    opacity: 0.5;
}
.value{
    font-size: 60px;
}