{% extends 'layout.html' %}
{% block styles %}
    <link href="{{ url_for('static', filename='graph.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='C3/c3.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">
        <div id="myChart"></div>
        <div class="btns">
            <a href="{{ url_for('graph', name='temperature', day=one_day_ago) }}" class="previous">&#8249; {{one_day_ago_dashed}}</a>
            <a href="{{ url_for('graph', name='temperature', day=one_day_ahead) }}" class="next">{{one_day_ahead_dashed}} &#8250;</a>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script src="{{ url_for('static', filename='C3/d3.v5.min.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='C3/c3.min.js') }}"></script>
    <script>
        var chart = c3.generate({
            bindto: '#myChart',
            data: {
                x: 'time',
                xFormat: '%H:%M:%S',
                columns: [
                    ['time', {% for i in time %} '{{ i }}:00', {% endfor %} ],
                    ['{{name}}', {% for i in data %} '{{ i }}', {% endfor %}]
                ],
                types: {
                    {{name}}: 'area'
                }
            },
            axis: {
                x: {
                    type: 'timeseries',
                    tick: {
                        values: ['00:00:00', '04:00:00', '08:00:00', '12:00:00', '16:00:00', '20:00:00', '24:00:00'],
                        format: '%H:%M'
                    },
                    max: '24:00:00',
                    min: '00:00:00'
                },
                y: {
                    min: '{{ min_y }}'
                }
            },
            subchart: {
                show: true
            }
        });
    </script>
{% endblock scripts %}