{% extends 'layout.html' %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="analyzer">
            <a href="{{ url_for('analyzer') }}">
                <img src="{{ url_for('static', filename='img/analyzer-icon.png') }}" alt="">
            </a>
        </div>
        <div class="smartplug">
            <a href="">
                <img src="{{ url_for('static', filename='img/smartplug-icon.svg') }}" alt="">
            </a>
        </div>
    </div>
{% endblock content %}